// backgroun colors

$primary-color: #c7c7c7;
$soft-transparency: #5d5d6c;
$secondary-color: #ff8800;
$bg-color: #1e2224;

//text
$third-color: 202020;

// gradient colors for buttons

// background: rgb(2,0,36);
// background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,175,81,1) 0%, rgba(199,199,199,1) 100%);
